* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: center;
    margin-top: 50px;
}

.clock {
    font-size: 30px;
}

button {
    background-color: rgb(1, 168, 168);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    margin: 15px 5px;
}

ul, 
li {
    padding: 0;
    list-style: none;
}

.score-div {
    margin: 10px auto;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    width: 200px;
}