/* @import url(https://www.flaticon.com/premium-icon/trash-bin_5028066?term=bin&page=1&position=30&page=1&position=30&related_id=5028066&origin=search); */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.comments-box {
    width: 600px;
    margin: 20px auto;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.add-comment {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #f1f1f1;
}

input {
    width: 50%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.add-btn {
    padding: 8px 30px;
    background-color: #00d38d;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #42e9b1;
}


.user-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    padding: 5px 10px;
    background-color: rgb(255, 252, 245);
    border-bottom: 1px solid lightgray;
}

.pic {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.user {
    display: flex;
}

.text-content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.user-email {
    font-size: 20px;
}

.comment {
    color: grey;
}

#del-btn {
    align-self: center;
    background-color: rgb(252, 134, 134);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#del-btn:hover {
    background-color: rgb(255, 64, 64);
}



/* <a href="https://www.flaticon.com/free-icons/trash-can" title="trash can icons">Trash can icons created by IYAHICON - Flaticon</a> */